.brand-logo {
    width: 100px;
}
.brand-color {
    color: #2A878F !important;
}
.spinner-border {
    color: #2A878F !important;
}
.form-check-input:checked {
    background-color: #2A878F!important;
    border-color: #2A878F!important;
}
.rt-nav {
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.06);
}
.rt-btn {
    background: rgba(42, 135, 143, 0.1) !important;
    border-radius: 10px;
    margin-right: 15px;
    color: #2A878F !important;
    border: none !important;
}
.rt-btn:hover {
    background: #2A878F !important;
    color: #fff !important;
}
.rt-btn-on {
    border-radius: 10px;
    margin-right: 15px;
    background: #2A878F !important;
    color: #EBEFFE !important;
    border: none !important;
}
.rt-btn.active {
    background: #2A878F !important;
    color: #EBEFFE !important;
}
.rt-result pre {
    font-family: inherit !important;
    font-size: 16px !important;
}