.rt-showing-data{
    min-height: 85vh;
}

.rt-result-hading {
    background: rgba(42, 135, 143, 0.05);
    border-radius: 20px;
}

.rt-showing-data pre {
    font-family: inherit !important;
    font-size: 16px !important;
    margin-left: 25px !important;
}
.showButton{
   display: flex;
}

  @media print {
    /* html, body {
      width: 210mm;
      height: 400mm;
      margin: 40px;
    } */
    .rt-showing-data{
      min-height: 100;
    }
    .showButton{
      display: none;
    }
    @page {
      size: A4;
      margin: 40px 0px;
      min-height: 100%;
    }
  }  