.rt-showing-data{
    min-height: 85vh;
}

.rt-result-hading {
    background: rgba(42, 135, 143, 0.05);
    border-radius: 20px;
}

.rt-showing-data pre {
    font-family: inherit !important;
    font-size: 16px !important;
    margin-left: 25px !important;
}

@page {
    size: A4;
    margin: 0;
  }
  @media print {
    html, body {
      width: 210mm;
      height: 297mm;
    }
}  